@page
@model IndexModel
@{
    ViewData["Title"] = "Relógios";
}

<h1>Site Relógios</h1>
<p>Conheça nossos relógios emportados diretamente da China.</p>
<p>Mussum Ipsum, cacilds vidis litro abertis. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis.Praesent malesuada urna nisi, quis volutpat erat hendrerit non. Nam vulputate dapibus.Praesent vel viverra nisi. Mauris aliquet nunc non turpis scelerisque, eget.</p>
<hr />
<h3 class="tituloGrupo">Relógios Clássicos</h3>
<section id="relogios-classicos">
    <hr><br>
    <div class="card" style="width: 18rem;">
        <img src="~/images/classicos/relogioClassico.png" class="card-img-top" alt="Relogio classico Seculus">
        <div class="card-body">
            <h5 class="card-title">Relógio Seculus</h5>
            <p class="card-text">O relógio masculino 35030GPSVPA1 é analógico com pulseira preta.</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/classicos/relogioClassico2.png" class="card-img-top" alt="Relogio classico Geneva">
        <div class="card-body">
            <h5 class="card-title">Relógio Geneva</h5>
            <p class="card-text">Relógio Masculino Pulso Preto Clássico Geneva Quartzo</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/classicos/relogioClassico3.png" class="card-img-top" alt="Relogio classico Olevs">
        <div class="card-body">
            <h5 class="card-title">Relógio Olevs</h5>
            <p class="card-text">Relógio clássico importado Olevs pulseira de couro</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
</section>

<h3 class="tituloGrupo">Relógios Digitais</h3>
<section id="relogios-digitais">
    <hr><br>
    <div class="card" style="width: 18rem;">
        <img src="~/images/digital/relogioDigital1.png" class="card-img-top" alt="Relogio classico Seculus">
        <div class="card-body">
            <h5 class="card-title">Relógio Samsung Watch4</h5>
            <p class="card-text">Galaxy Watch4 BT 44mm - Preto.</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/digital/relogioDigital2.png" class="card-img-top" alt="Relogio classico Geneva">
        <div class="card-body">
            <h5 class="card-title">Relógio Galaxy Fit</h5>
            <p class="card-text">O Smartwatch Galaxy Fit da Samsung</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="~/images/digital/relogioDigital3.png" class="card-img-top" alt="Relogio classico Olevs">
        <div class="card-body">
            <h5 class="card-title">Relógio Apple Falsificado</h5>
            <p class="card-text">Relógio digital falsificado da não acredito que não é Apple.</p>
            <a class="btn btn-primary buttonDetalhes">Ver detalhes</a>
        </div>
    </div>
</section>