@page
@model PrivacyModel
@{
    ViewData["Title"] = "História";
}
<h1>@ViewData["Title"] da empresa</h1>
<p>Nós somos apaixonados por Relógios e com essa paixão nasceu em no final do ano 2017 a Relógios de Fabrica. Somos uma loja online de Relógios direto de Fabrica com preços e condições de pagamentos acessíveis a todos, prezamos sempre pelo bom atendimento, pela garantia de autenticidade de nossos Relógios e a transparência junto aos nossos clientes.</p>
<p>A Relógios de Fabrica se desenvolve rapidamente em torno de uma filosofia: inovar e oferecer ao maior número de consumidores possível os produtos da mais alta qualidade ao melhor preço direto de fabrica.</p>

<img id="historia1" src="~/images/historia1.png" class="card-img-top" alt="Relogio classico Seculus">

<img id="historia3" src="~/images/historia3.png" class="card-img-top" alt="Relogio classico Seculus">